body{
    margin: 0;
    padding: 0;
}

.box{
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
}

.box-1{
    height: 100px;
    width: 100px;
    background-color: rgb(38, 255, 0);
    position: absolute;
    margin-top: 100px;
}

.box-2{
    height: 100px;
    width: 100px;
    background-color: rgb(242, 255, 0);
    position: absolute;
    margin-top: 200px;
}
